/*
 * Author: Callan Heard (c.j.heard@ncl.ac.uk)
 * Project: NCL CSC3122: Mobile Computer Systems Development, Portfolio Part 2
 * Purpose: settle app dashboard page styles
 *
 * base:	16px
 * large:	48px (300%)
 * small:	12px (75%)
 * xsmall:	10px (62.5%)
 *
 * grey:		#DDDDDD
 * dark grey:	#BBBBBB
 * blue:		#3366BB
 */

/* Heading font */
@font-face {
	font-family:	Heading;
	font-weight:	normal;
	src:			url(../_fonts/roboto_regular.ttf);
}

/* Heading font (thin) */
@font-face {
	font-family:	Heading;
	font-weight:	200;
	src:			url(../_fonts/roboto_thin.ttf);
}

/* Body font */
@font-face {
	font-family:	Body;
	src:			url(../_fonts/worksans_regular.otf);
}

/* Monospace font */
@font-face {
	font-family:	Mono;
	src:			url(../_fonts/lekton_regular.ttf);	
}

/* Generic class for 'red' */
.red {
	color: red;
}

/* Generic class for 'green' */
.green {
	color: green;
}

body {
	font-family:	Body;
	font-size:		16px; /* Base */
}

/* Page padding allowing for borders */
body > * {
	padding: 10px;
}

/* Top bar */
#topbar {
	border-bottom: 1px solid #DDDDDD;
}

/* All top bar direct children */
#topbar > * {
	display: inline;
}

/* Top bar links */
#topbar a {
	color:		#000000;
	opacity:	0.8;
}

/* Page title */
#topbar h1 {
	float:			right;
	font-size:		16px; /* Base */
	font-family:	Heading;
	font-weight:	200;
}

/* Dashboard overview */
#overview {
	margin-bottom:	5px;
	border-bottom:	1px solid #DDDDDD;
}

/* Overview link */
#overview a {
	float:		left;
	margin:		10px 20px 0;
	font-size:	48px; /* Large */
	color:		#BBBBBB;
}

/* All total value headings */
#overview #totals {
	float: right;
}

/* Total changing headings */
#overview h2 {
	display:		none;	/* Only show selected */
	text-align:		right;
	font-size:		12px;	/* Small */
	text-transform:	uppercase;
	font-family:	Heading;
}

/* Selected total value heading */
#overview h2.selected {
	display: block;
}

/* Total value displayed */
#overview #total {
	font-size:		48px; /* Large */
	font-family:	Heading;
	font-weight:	200;
}

#overview #total:before {
	content: '\00a3'; /* Pound sign before value */
}

/* Payment list */
.payment_list {
	display:		none; /* Hide unless there are payments */
	font-family:	Body; /* Base */
}

/* Payment list headings */
.payment_list h4 {
	margin-bottom:	5px;
	font-size:		16px; /* Base */
	font-family:	Heading;
	font-weight:	200;
}

/* Separator for each payment in a list */
.payment_list hr {
	margin-top:		0;
	margin-bottom:	0;
	margin-right:	-10px;
	border:			0;
	border-bottom:	1px solid #DDDDDD;
	height:			0;
	width:			75%;
}

/* Individual payment */
.payment {
	margin-left: 5px;
}

/* Float image and details next to each other */
.payment a > * {
	float: left;
}

/* Payment host profile image */
.payment img {
	margin:			5px;
	border-radius:	100px;
	height:			40px;
	width:			40px;
}

/* Payment details */
.payment .details {
	margin-left:	5px;
	padding-bottom:	10px;
	width:			75%;
}

/* Float payment details next to amount */
.payment .details .left {
	float:			left;
	margin-top:		20px;
	width:			60%;
}

/* Payment details ellipsis overflow effect */
.payment .details .left p {
	white-space:	nowrap;
	overflow:		hidden;
	text-overflow:	ellipsis;
	color:			#000000;
}

/* Slightly vary detail font styles/sizes */
.payment .details .left p:nth-child(1) {
	font-size:		12px; /* small */
	font-weight:	bold;
	text-transform:	uppercase;
}

/* Slightly vary detail font styles/sizes */
.payment .details .left p:nth-child(2) {
	font-size: 10px; /* xsmall */
}

/* Payment amount */
.payment .details .amount {
	float:			right;
	margin-top:		20px;
	width:			40%;
	text-align:		right;
	font-family:	Mono;
}

.payment .details .amount:before {
	content: '\00a3'; /* Pound sign before value */
}

/* Black out background for sidebar */
#sidebar .overlay {
	position:	absolute;
	top:		0;
	left:		0;
	padding:	0;
	height:		100%;
	width:		100%;
	background:	#000000;
	opacity:	0.7;
}

/* Contents of sidebar */
#sidebar ul {
	position:		absolute;
	top:			0;
	left:			0;
	width:			75%;
	height:			100%;
	background:		#FFFFFF;
	font-family:	Body;
}

/* Separate account option */
#sidebar ul li:last-of-type {
	margin-top: 20px;
}

/* Menu option links */
#sidebar ul li a {
	display:			block;
	padding:			5px 10px;
	color:				#000000;
	text-decoration:	none;
}

/* Menu option link click effect */
#sidebar ul li a:active {
	color: #3366BB;
}

/* Menu icons */
#sidebar ul li a i {
	float: right;
}

/* User profile in sidebar */
.profile {
	margin-bottom:		20px;
	padding:			10px;
	background:			url('../_img/congruent_pentagon/congruent_pentagon.png');
	background-size:	100px;
	font-size:			12px; /* small */
}

/* Profile image */
.profile img {
	margin-bottom:	10px;
	height:			50px;
	width:			50px;
	border-radius:	100px;
}

/* User details */
.profile p {
	width:		100%;
	word-wrap:	break-word; /* Wrap name/email address */
}

/* Bold name */
.profile p:nth-child(2) {
	font-weight: bold;
}

/* Score */
.profile p:nth-child(4) {
	margin-top:		10px;
	font-weight:	bold;
}

/* Score value */
.profile p:nth-child(4) span {
	font-weight: normal;
}

.profile p:nth-child(4) span:after {
	content: '%'; /* Percent sign after value */
}